@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
  }

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }


  header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      background-color: #fff; 
  }

  header nav {
      position: fixed;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  header nav .logo {
      width: 150px;
  }

  header nav .menu {
      display: flex;
      align-items: center;
  }

  nav .menu a {
      color: #000000;
      margin-left: 30px;
      position: relative;
  }

  nav .menu a::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: #dd0707;
      transition: 0.4s;
  }

  nav .menu a:hover::after {
      width: 100%;
  }

  nav .social {
      display: flex;
      align-items: center;
  }

  nav .social a i {
      color: #000000;
      font-size: 22px;
      margin-left: 10px;
      transition: 0.3s;
  }

  nav .social a i:hover {
      transform: scale(1.3);
      color: #dd0707;
  }

  .hero{
      width: 70%;
      height: 100vh;
      display: flex;
      margin-left: 5%;
  }

  .hero .text{
      width: 90%;
      justify-content: left;
      margin-top: 15%;
      margin-left: 5%;
  }
  .hero .text h4{
      font-size: 40px;
      color: #000000;
      font-weight: 500;
      margin-bottom: 10px;
  }
  .hero .text h1{
      color: #000000;
      font-size: 65px;
      text-transform: uppercase;
      line-height: 1;
      margin-bottom: 30px;
  }
  .hero .text h1 span{
      color: #dd0707;
      font-size: 80px;
      font-weight: bold;
  }
  .hero .text p{
      color: #000000;
      margin-bottom: 30px;
  }
  .hero .text .btn{
      padding: 10px 30px;
      background-color: #dd0707;
      text-transform: uppercase;
      color: #000000;
      font-weight: bold;
      border-radius: 30px;
      border: 2px solid #dd0707;
      transition: 0.3s;
  }
  .hero .text .btn:hover{
      background-color: transparent;
  }

  h1 {
      font-size:  500%;
      line-height: 1;
      margin-bottom: 30px;
      text-align: center;
      margin-top: 50px;
      font-family: 'Poppins', sans-serif;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }
  
  .card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .card-img {
    max-width: 90%;
    width: auto;
    height: auto;
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 15%;
  }
  
  .card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card-local {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .card-titulo {
    font-size: 32px;
    margin: 15px 0;
  }
  
  .card-texto {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
  }
  
  .card-footer {
    margin-top: 40px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  .card-1 .card-footer {
    background-color: #c71448;
  }
  
  .card-1 .card-local {
    color: #c71448;
  }
  
  .card-2 .card-footer {
    background-color: #c71448;
  }
  
  .card-2 .card-local {
    color: #c71448;
  }
  
  .card-3 .card-footer {
    background-color: #c71448;
  }
  
  .card-3 .card-local {
    color: #c71448;
  }
  
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
  }

  .image-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px;
  }

  .image-box {
      text-align: center;
  }


  .slider-container {
    padding: 2rem;
  }
  
  .slider-wrapper {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    height: auto;
  }
  
  .slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }
  
  .slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
  }
  
  .slider-nav a:hover {
    opacity: 1;
  }

  .image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  }

  .image-container h3 {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    margin-bottom: 2%;
    align-self: start;
    margin-left: 20%;
  }

  .image-container img {
    max-width: 27%;
    height: auto;
  }

  .image-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 110%;
    margin-left: 3%;
    max-width: 30%;
  }

  .imagem-p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .interactive-button {
    padding: 15px 30px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #c71448;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
    margin-top: 10%;
  }

  .interactive-button:hover {
    background-color: #7a0929; 
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
  }

  .interactive-button:active {
    transform: scale(0.95);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  }

  .image-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 10%;
  }
  
  .image-container2 h3 {
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    margin-bottom: 20px;
    align-self: self-start;
    margin-left: 20%;
  }
  
  .imagem-p2 {
    display: flex;
    justify-content: center;
    gap: 150px; 
    margin-top: 20px;
  }
  
  .image-with-caption {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    max-width: 250px; 
  }
  
  .image-with-caption img {
    max-width: 100%;
    height: auto;
  }
  
  .image-with-caption h4 {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
  }
  
  .image-with-caption p {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }
  
  .card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .card-img {
    max-width: 90%;
    width: auto;
    height: auto;
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 15%;
  }
  
  .card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card-local {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .card-titulo {
    font-size: 32px;
    margin: 15px 0;
  }
  
  .card-texto {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
  }
  
  .card-footer {
    margin-top: 40px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  .card-1 .card-footer {
    background-color: #c71448;
  }
  
  .card-1 .card-local {
    color: #c71448;
  }
  
  .card-2 .card-footer {
    background-color: #c71448;
  }
  
  .card-2 .card-local {
    color: #c71448;
  }
  
  .card-3 .card-footer {
    background-color: #c71448;
  }
  
  .card-3 .card-local {
    color: #c71448;
  }
  
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
  }

  .container span{
    color: #000;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5%;
    margin-right: 10%;
  }
  
  .text-section {
    max-width: 50%;
    margin-left: 20%;
  }
  
  .text-section h4 {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    margin-bottom: 10px; 
  }
  
  .text-section p {
    font-family: 'Poppins', sans-serif;
    font-size: large;
  }
  
  .image-section img {
    max-width: 60%; 
    height: auto;
    margin-left: 10%;
    border-radius: 1%;
  }

  .products-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px;
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    transition: transform 0.3s ease;
  }
  
  .product-container:hover {
    transform: translateY(-10px);
  }
  
  .image-wrapper img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
  }
  
  .details-wrapper {
    text-align: center;
  }
  
  .details-wrapper h4 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .details-wrapper p {
    font-size: 1em;
    color: #777;
    margin-bottom: 15px;
  }
  
  .product-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
  }
  
  .purchase-button {
    background-color: #c71448;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .purchase-button:hover {
    background-color: #2980b9;
  }

  @media (max-width: 900px) {
    .products-container {
      justify-content: center; 
    }
  
    .product-container {
      max-width: 45%;
    }
  }
  
  @media (max-width: 600px) {
    .product-container {
      max-width: 100%; 
    }
  }

  section {
    margin-bottom: 5%;
  }